<!DOCTYPE html>
<html>
  <head>
    <title>Fork Monitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'forkMonitorApp/index' %>
    <%= stylesheet_pack_tag 'forkMonitorApp/assets/stylesheets/bootstrap' %>
    <%= stylesheet_pack_tag 'forkMonitorApp/assets/stylesheets/app' %>
    <%= render 'application/favicon' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
